@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

.cards {
  .cardWrapper {
    width: 80%;
    margin: 0 auto;
  }

  .card {
    @extend %flex-between;
    flex-wrap: wrap;

    img {
      flex-basis: 40%;

      @include mix.tablet {
        margin-top: 50px;
        margin-bottom: 80px;
      }

      @include mix.mobile {
        flex-basis: 100%;
      }
    }

    .innerCard {
      flex-basis: 55%;

      @include mix.mobile {
        flex-basis: 100%;
        margin-bottom: 280px;
      }
    }

    h3 {
      font-size: var.$size-medium;
    }

    p {
      font-size: var.$size-small;
    }
  }

  .reverse {
    flex-direction: row-reverse;

    .innerCard {
      padding-left: var.$size-small;
    }
  }
}

h2 {
  text-align: center;
  background-color: var.$background-color;
  color: var.$color;
  padding: 10px 0;

  @include mix.mobile {
    font-size: var.$size-small;
  }
}

.dark-mode h2 {
  background-color: var.$Darkbackground-colorNavBar;
}

.backgroundFixed {
  @extend %backgroundImage;
  background-attachment: fixed;
  height: 15vh;
  position: relative;
}

.margin-y {
  margin: 40px 0;
}

.laptop {
  border-radius: 10%;
  margin-bottom: 20px;
}