@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

.ShopLink {
  text-align: center;
  @extend %flex-between;
  flex-wrap: wrap;
}

#tabstrip h2 {
  font-weight: lighter;
  font-size: 48px;
  line-height: 1;
  padding: 0 0 0 30px;
  margin: 0;
}

#tabstrip h2 span {
  background: none;
  padding-left: 5px;
  font-size: 5px;
  // vertical-align: top;
}

#tabstrip p {
  margin: 0;
  padding: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-size: var.$size-small;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cardShop {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-basis: 33%;


  @include mix.mobile {
    flex-basis: 100%;
  }

  img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: var.$size-small;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .description {
    margin-bottom: 15px;
  }

  .price {
    font-size: var.$size-small;
    color: #4caf50;
    margin-bottom: 15px;
  }

  .buy {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }

    &:focus {
      outline: none;
    }
  }

  .footer {
    @extend %flex-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;

    .rating {
      display: flex;
      align-items: center;

      i {
        color: #ffc107;
        margin-right: 5px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

.dark-mode {
  .cardShop {
    background-color: var.$Darkbackground-color;
    color: var.$Darkcolor;
  }
}

.demo-section {
  overflow: hidden;
  padding: 0;
}

.product-display,
.product-info {
  float: left;
}

.product-display {
  background-color: #fff;
  background-image: url();
  height: 380px;
  width: 450px;
  margin: -10px 4%;
  text-align: center;
}

.dark-mode #grid {
  background-color: black;

  tr {
    background-color: var.$Darkbackground-color;
    color: var.$Darkcolor;
  }
}
