* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.backgroundFixed {
  background-image: url("./../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pageTitle, .staff, .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShopLink, .cardShop .footer, .cards .card, .Navbar {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

button {
  background-color: #c7c7c7;
  padding: 5px 10px;
  color: #574f4f;
  border-radius: 5px;
}
button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.dark-mode button {
  background-color: #363636;
  color: #ffffff;
}
.dark-mode button:hover {
  background-color: #505050;
}

.dark-mode {
  background-color: #363636;
  color: #ffffff;
}

.Navbar {
  align-items: center;
  background-color: #c7c7c7;
  padding: 0 20px;
  max-height: 70px;
  min-height: 70px;
}
.Navbar img {
  width: 50px;
  border-radius: 50%;
  margin: 5px 0;
}
.Navbar ul {
  display: flex;
}
.Navbar ul li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 20px;
}
@media (max-width: 425px) {
  .Navbar ul li {
    font-size: 13.3333333333px;
    margin-right: 20px;
  }
}
.Navbar ul li a {
  color: #574f4f;
  text-decoration: none;
}
.Navbar ul li a:hover {
  color: #494f54;
  cursor: pointer;
}

.dark-mode .Navbar {
  background-color: #000000;
}

footer {
  background-color: #c7c7c7;
}
footer .innerFooter {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 25px 0;
}
footer .innerFooter a {
  color: #574f4f;
}
footer .innerFooter p {
  font-size: 20px;
  color: #574f4f;
}
footer .innerFooter .footerIcons {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
footer .innerFooter .footerIcons i:hover {
  color: #d9d9d9;
  cursor: pointer;
}

.dark-mode footer {
  background-color: #000000;
}

.banner {
  background-image: url("./../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: calc(100vh - 70px);
  margin: 0 auto;
  color: #574f4f;
  font-size: 30px;
}
@media (max-width: 425px) {
  .banner {
    font-size: 13.3333333333px;
  }
}

.cards .cardWrapper {
  width: 80%;
  margin: 0 auto;
}
.cards .card {
  flex-wrap: wrap;
}
.cards .card img {
  flex-basis: 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cards .card img {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .cards .card img {
    flex-basis: 100%;
  }
}
.cards .card .innerCard {
  flex-basis: 55%;
}
@media (max-width: 425px) {
  .cards .card .innerCard {
    flex-basis: 100%;
    margin-bottom: 280px;
  }
}
.cards .card h3 {
  font-size: 25px;
}
.cards .card p {
  font-size: 20px;
}
.cards .reverse {
  flex-direction: row-reverse;
}
.cards .reverse .innerCard {
  padding-left: 20px;
}

h2 {
  text-align: center;
  background-color: #c7c7c7;
  color: #574f4f;
  padding: 10px 0;
}
@media (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
}

.dark-mode h2 {
  background-color: #000000;
}

.backgroundFixed {
  background-attachment: fixed;
  height: 15vh;
  position: relative;
}

.margin-y {
  margin: 40px 0;
}

.laptop {
  border-radius: 10%;
  margin-bottom: 20px;
}

.pageTitle {
  color: #574f4f;
  font-size: 30px;
  padding-top: 30px;
}
@media (max-width: 425px) {
  .pageTitle {
    font-size: 25px;
  }
}

.partnership {
  width: 80%;
  margin: 50px auto;
}
.partnership h3 {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 425px) {
  .partnership h3 {
    font-size: 20px;
  }
}
.partnership .StaffName {
  text-align: center;
}
.partnership p {
  font-size: 20px;
}

.staff {
  flex-wrap: wrap;
}
.staff .staffInner {
  flex-basis: 25%;
  text-align: center;
}
@media (max-width: 425px) {
  .staff .staffInner {
    flex-basis: 100%;
  }
}
.staff .staffInner img {
  border-radius: 50%;
}

.charts {
  max-width: 100%;
}

.contact h4 {
  font-size: 20px;
}
.contact .contactInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}
@media (max-width: 425px) {
  .contact .contactInner {
    display: block;
  }
}
.contact .contactInner h5 {
  font-size: 20px;
}
.contact .form {
  max-width: 400px;
}
.contact label {
  display: block;
  font-weight: bold;
}
.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.contact .form div {
  margin-bottom: 15px;
}

.read-more {
  max-width: 200px;
  margin: 0 auto;
}

.text {
  max-height: 4.5em;
  margin-bottom: 2px;
}

.text p {
  margin: 0;
  line-height: 1.2em;
}

.additional-text {
  display: none;
}

.read-more-button {
  margin-top: 20px;
}

.ShopLink {
  text-align: center;
  flex-wrap: wrap;
}

#tabstrip h2 {
  font-weight: lighter;
  font-size: 48px;
  line-height: 1;
  padding: 0 0 0 30px;
  margin: 0;
}

#tabstrip h2 span {
  background: none;
  padding-left: 5px;
  font-size: 5px;
}

#tabstrip p {
  margin: 0;
  padding: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-size: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cardShop {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-basis: 33%;
}
@media (max-width: 425px) {
  .cardShop {
    flex-basis: 100%;
  }
}
.cardShop img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cardShop h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.cardShop p {
  font-size: 14px;
  margin-bottom: 15px;
}
.cardShop .description {
  margin-bottom: 15px;
}
.cardShop .price {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 15px;
}
.cardShop .buy {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cardShop .buy:hover {
  background-color: #45a049;
}
.cardShop .buy:focus {
  outline: none;
}
.cardShop .footer {
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.cardShop .footer .rating {
  display: flex;
  align-items: center;
}
.cardShop .footer .rating i {
  color: #ffc107;
  margin-right: 5px;
}
.cardShop .footer .rating span {
  font-size: 14px;
}

.dark-mode .cardShop {
  background-color: #363636;
  color: #ffffff;
}

.demo-section {
  overflow: hidden;
  padding: 0;
}

.product-display,
.product-info {
  float: left;
}

.product-display {
  background-color: #fff;
  background-image: url();
  height: 380px;
  width: 450px;
  margin: -10px 4%;
  text-align: center;
}

.dark-mode #grid {
  background-color: black;
}
.dark-mode #grid tr {
  background-color: #363636;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
