
$size-small:            20px;
$size-medium:           25px;
$size-large:            30px;

$padding-size-small:    20px;  
$padding-size-medium:   25px;  
$padding-size-large:    30px;

// $background-color:     #343a40;
// $color:                #9A9DA0;
// $color-hover:          #494F54;

// $background-color: #292B2F;
// $color: #E2E4E8;
// $color-hover:  #3F4246;






//dark mode
$Darkbackground-colorNavBar : #000000;
$Darkbackground-color:  #363636;
$Darkcolor: #ffffff;
$Darkcolor-hover:  #505050;



//light mode
$background-color:  #c7c7c7;
$color: #574f4f;
$color-hover:  #d9d9d9;



